body{
    background-color: snow;
}
.main-heading{
    color:indigo;
}
.main-subtitle{
    color: gray;
}
.team-member img{
    width: 100px;
    height: 100px;
}
.team-member p{opacity: .8;}
section{
    width: 256px;
}

#prince{
    background-color: darkcyan;
    color: beige;
}
#prince h2 ,#prince h3{
    color: honeydew;
}

#harry{background-color: cornsilk;}
#harry h2 , #harry h3{
    color: darkslategray;
}

#sofia{background-color: dodgerblue;
color: lightcyan;}
#sofia h2 , #sofia h3{
    color: navy;
}